{% extends "base.html" %}
{% block title %}{{ user.first_name }}&#39;s Profile{% endblock %}
{% load static %}

{% block page_content %}
<main role="main" class="container p-5 mt-5">
    <h1 class="display-2">{{ user.first_name }} {{ user.last_name }}</h1>
    <h4>&nbsp;{% if user.job_title %}{{ user.job_title }}{% endif %} {% if user.department %}// {{ user.department }}{% endif  %}</h4>
    <div class="row">
        <div class="col-md-6 float-left p-4 lh-condensed-ultra">
            <p class="lead"><a href="mailto:{{ user.company_email }}">{{ user.company_email }}</a></p>
            <p class="f5">Company Email</p>
        </div>
        <div class="col-md-6 float-left p-4 lh-condensed-ultra">
            <p class="lead"><a href="mailto:{{ user.personal_email }}">{{ user.personal_email }}</a></p>
            <p class="f5">Personal Email</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 float-left p-4 lh-condensed-ultra">
            <p class="lead"><a href="tel:{{ user.phone }}">{{ user.phone }}</a></p>
            <p class="f5">Phone</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            Last Login: {{ user.last_login }}
        </div>
        <div class="col-md-6">
            Account Creation: {{ user.account_creation_dt }}
        </div>
    </div>
    <br>
        <!-- https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/-77.0397,38.8974,11,0/500x500@2x?access_token=pk.eyJ1IjoiY29ub3JvYnJpZW4iLCJhIjoiY2tnbDVhOThhMTc4cDJybnM5dHU3bjlvOCJ9.rApCMl8Y1fh3Iom20QnYKw
    -->
</main>
{% endblock %}