{% extends "base.html" %}
{% block title %}Create Client{% endblock %}
{% load static %}

{% block page_content %}
<main role="main" class="container p-5 mt-5">
    <h2>Create Client</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label for="id_first_name">{{ form.first_name.label_tag }}</label><br>
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label for="id_last_name">{{ form.last_name.label_tag }}</label>
                    {{ form.last_name.errors }}
                </div>
                <div class="medium-6 cell">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label for="id_home_phone">{{ form.home_phone.label_tag }}</label>
                    {{ form.home_phone.errors }}
                </div>
                <div class="medium-6 cell">
                    {{ form.home_phone }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label for="id_cell_phone">{{ form.cell_phone.label_tag }}</label>
                    {{ form.cell_phone.errors }}
                </div>
                <div class="medium-6 cell">
                    {{ form.cell_phone }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label for="id_email_address">{{ form.email_address.label_tag }}</label>
                    {{ form.email_address.errors }}
                </div>
                <div class="medium-6 cell">
                    {{ form.email_address }}
                </div>
            </div>
        </div>
        <fieldset>
            <div class="grid-container">
                <input type="button" class="button" value="Add Address" id="add_more">
                {{ addresses.management_form }}
                <div id="formset_wrapper">
                    {% for form in addresses.forms %}
                        <hr>
                        <div class="grid-x grid-padding-x">
                            <div class="medium-6 cell">
                                <label for="{{ form.street.id }}">{{ form.street.label_tag }}</label>
                                {{ form.street.errors }}
                                {{ form.street }}
                            </div>
                            <div class="medium-6 cell">
                                <label for="{{ form.city.id }}">{{ form.city.label_tag }}</label>
                                {{ form.city.errors }}
                                {{ form.city }}
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="medium-6 cell">
                                <label for="{{ form.state.id }}">{{ form.state.label_tag }}</label>
                                {{ form.state.errors }}
                                {{ form.state }}
                            </div>
                            <div class="medium-6 cell">
                                <label for="{{ form.zip_code.id }}">{{ form.zip_code.label_tag }}</label>
                                {{ form.zip_code.errors }}
                                {{ form.zip_code }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="emptyform_wrapper" style="display: none">
                    <div class='table'>
                        <table class='no_error'>
                            {{ addresses.empty_form.as_table }}
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="success button float-center">Create</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
(function() {
  var placesAutocomplete = places({
    appId: 'pl8KLC1A2M0L',
    apiKey: '7fa54f36db83ceb7d5f0e469f9bd9d4f',
    container: document.querySelector('#id_street'),
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  }).configure({
    type: 'address'
  });
  placesAutocomplete.on('change', function resultSelected(e) {
    document.querySelector('#id_city').value = e.suggestion.city || '';
    document.querySelector('#id_state').value = e.suggestion.state || '';
    document.querySelector('#id_zip_code').value = e.suggestion.postcode || '';
  });
})();
</script>
<script>
  $('#add_more').click(function () {
    let total_form = $('#id_form-TOTAL_FORMS');
    let form_idx = total_form.val();

    $('#formset_wrapper').append($('#emptyform_wrapper').html().replace(/__prefix__/g, form_idx));
    total_form.val(parseInt(form_idx)+1);
  });
</script>
{% endblock %}