<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Arena Tree Specialists</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="CO">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/primer.css' %}">
    </head>
    <body>
        <div class="Header">
            <div class="Header-item">
                <a href="#" class="Header-link">Home</a>
            </div>
            <div class="Header-item">
                <a href="#" class="Header-link">Jobs</a>
            </div>
            <div class="Header-item">
                <a href="#" class="Header-link">Quotes</a>
            </div>
            <div class="Header-item">
                <a href="/carbina/clients/" class="Header-link">Clients</a>
            </div>
            <div class="Header-item">
                <a href="#" class="Header-link">Employees</a>
            </div>
            <div class="Header-item">
                <a href="#" class="Header-link">Departments</a>
            </div>
        </div>
        {% block page_content %}
        {% endblock %}
    </body>
{% block scripts %}
{% endblock %}
</html>