<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Arena Tree Specialists</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        <!-- Compressed CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
        <!-- Compressed JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="columns">
                <ul class="vertical medium-horizontal menu">
                    <li><a href="/"><i class="fi-list"></i> <span>Home</span></a></li>
                    <li><a href=""><i class="fi-list"></i> <span>Jobs</span></a></li>
                    <li><a href=""><i class="fi-list"></i> <span>Quotes</span></a></li>
                    <li><a href=""><i class="fi-list"></i> <span>Clients</span></a></li>
                    <li><a href=""><i class="fi-list"></i> <span>Employees</span></a></li>
                    <li><a href=""><i class="fi-list"></i> <span>Departments</span></a></li>
                </ul>
            </div>
        </div>
        {% block page_content %}
        {% endblock %}
    </body>
</html>