{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load static %}

{% block page_content %}
<main role="main" class="container p-5 mt-5">
    <h1>Hello, {{ request.user | title }}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Logins</h5>
                    <p class="card-text">
                        <ul class="list-group list-group-flush">
                            {% for user in users %}
                                <li class="list-group-item row"><span class="col-md-6">{{ user.full_name }}</span><span class="col-md-6">{{ user.last_login | timesince }}</span></li>
                            {% endfor %}
                        </ul>
                    </p>
                    <a class="btn btn-outline-primary" role="button" href="{% url 'user-list' %}" class="card-link">All Users <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg></a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}